#header {
    display: flex;
    align-items: center;
    justify-content: center;   
    color: white;
    text-shadow: 0 0 4px black;
    text-align: center;
    h1 {
      font-family: var(--font-header);
      font-size: 64px;
      margin: 0;
    }
}