@use 'src/assets/styles/fonts';
@use 'src/assets/styles/colors';
@use 'src/assets/styles/breakpoints';

.container {
  width: 100%;
  font-size: 4em;
  color: colors.$text-light;
  display: flex;
  align-items: flex-end;
  text-shadow: 0 0 8px black;
  padding: 16px;
  box-sizing: border-box;
}
  
.icon {
  transition: transform .2s;
  transition-timing-function: cubic-bezier(.17,.67,.67,2);
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  max-width: 48px;

  @include breakpoints.screen-sm {
    max-width: 64px;
  }

  @include breakpoints.screen-md {
    max-width: 80px;
  }
}

.title {
  display: inline;
  font-size: 0.5em;
  margin: 0 16px 10px 16px;
  font-family: fonts.$header;
  font-weight: bold;
  text-align: center;

  @include breakpoints.screen-sm {
    margin-bottom: 4px;
  }
  @include breakpoints.screen-md {
    margin-bottom: 0;
  }
}
