@use 'src/assets/styles/breakpoints';

.container {
  margin: auto auto;
  width: 208px;
  @include breakpoints.screen-sm {
    width: 256px;
  }
  @include breakpoints.screen-lg {
    width: 320px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}

.icon {
  animation: rotate 10s ease-in-out infinite;
}
