@use 'src/assets/styles/buttons';
@use 'src/assets/styles/fonts';
@use 'src/assets/styles/colors';

.hidden { 
    display: none;
    padding-top: 30px;
};

.nav_button {
    background: none;
    border: none;
    width: 50px;
}

.nav_button:hover {
    transition: transform .15s;
    transition-timing-function: cubic-bezier(.17,.67,.67,1.2);
    &:hover {
      transform: scale(1.5);
      cursor: pointer;
    }
}

.nav_button:hover + .hidden {
    display: block;
    font-size: x-large;
    font-family: fonts.$header;
    color: colors.$bkg-main;
}

li {
    float: left;
    padding-left: 50px;
}

ul {
    list-style-type: none;
    position: absolute;
}