@use './colors';
@use './fonts';

.button-default, .button-primary, .button-secondary, .button-negative, .button-cancel{
  outline: none;
  border: none;
  padding: 8px 24px;
  box-shadow: 0 2px 2px -1px colors.$shadow;
  font-size: 1rem;
  margin: 8px;
  border-radius: 8px;
  transition: all .2s;
  background-color: colors.$button-default-main;
  font-family: fonts.$button;
}

.button-default:hover, .button-primary:hover, .button-secondary:hover, .button-negative:hover {
  background-color: colors.$button-default-light;
  box-shadow: 0 6px 6px -4px colors.$shadow;
  cursor: pointer;
}

.button-wire {
  outline: none;
  font-size: 1em;
  font-family: fonts.$button;
  margin: 8px;
  padding: 8px 24px;
  text-shadow: 0 0 8px black;
  background-color: rgba(255,255,255,.2);
  color: white;
  border: 1px solid white;
  transition: all .2s;
  border-radius: 4px;
}

.button-wire:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  text-shadow: 0 0 0px black;
  padding: 8px 32px;
}

.button-primary {
  background-color: colors.$primary;
  color: colors.$text-light;
}
.button-primary:hover {
  background-color: colors.$primary-light;
  color: colors.$text-light;
}

.button-secondary {
  background-color: colors.$button-secondary-main;
  color: colors.$text-light;
}
.button-secondary:hover {
  background-color: colors.$button-secondary-light;
  color: colors.$text-light;
}

.button-negative {
  background-color: colors.$button-negative-main;
  color: colors.$text-light;
}
.button-negative:hover {
  background-color: colors.$button-negative-light;
  color: colors.$text-light;
}
