$bkg-main: #EEE;
$bkg-dark: #264425;
$bkg-container: white;
$bkg-highlight: white;
$shadow: rgba(0,0,0,.5);

$primary: #508046;
$primary-light: #76A058;

$button-default-main: #CCC;
$button-default-light: #EEE;

$button-primary-main: dodgerblue;
$button-primary-light: #59BCFF;

$button-secondary-main: seagreen;
$button-secondary-light: mediumseagreen;

$button-negative-main: firebrick;
$button-negative-light: indianred;

$text-light: white;
$text-dark: #222;
