$color-bkg-main: #EEE;
$color-bkg-dark: #264425;
$color-bkg-container: white;
$color-bkg-highlight: white;
$color-shadow: rgba(0,0,0,.5);

$color-primary: #508046;
$color-primary-light: #76A058;

$color-button-default-main: #CCC;
$color-button-default-light: #EEE;

$color-button-primary-main: dodgerblue;
$color-button-primary-light: #59BCFF;

$color-button-secondary-main: seagreen;
$color-button-secondary-light: mediumseagreen;

$color-button-negative-main: firebrick;
$color-button-negative-light: indianred;

$color-text-light: white;
$color-text-dark: #222;
